@import './global';
@import './variables';
@import './typefaces';
@import './mixins';
@import './media_queries';
@include navResponsive ();
@include tablet {
    nav {
        @include mainTypography($mainTypography, $negrita);
        color: $white;
        font-size: 10px;
        @include directionLayout();
        justify-content: space-between;
        a {
            color: $white;
        }
        .navLayout {
            @include directionLayout();
            justify-content: space-between;
            a:hover {
                color: $orangeHov;
            }
        }
        .logoLayout .logo {
            width: 24px;
        }
        .menuSpace ul {
            display: none;
            visibility: hidden;
            @include directionLayout();
            margin-right: 80px;
            li {
                margin-right: 32px;
            }
        }
        .buttonCorner ul {
            @include directionLayout();
             :nth-child(2) {
                padding: 24px 32px;
                margin-left: 10vw;
                border-radius: 30vw;
                background-color: #5e44d5;
            }
        }
    }
}

@include mobile {
    nav {
        @include mainTypography($mainTypography, $negrita);
        color: $white;
        font-size: 10px;
        @include directionLayout();
        justify-content: space-between;
        a {
            color: $white;
        }
        .navLayout {
            @include directionLayout();
            justify-content: space-between;
            a:hover {
                color: $orangeHov;
            }
        }
        .logoLayout .logo {
            width: 24px;
        }
        .menuSpace ul {
            @include directionLayout();
            display: none;
            visibility: hidden;
            margin-right: 80px;
            li {
                margin-right: 32px;
            }
        }
        .buttonCorner ul {
            @include directionLayout();
             :nth-child(2) {
                padding: 2vw 2vw;
                margin-left: 3vw;
                border-radius: 20vw;
                background-color: #5e44d5;
            }
        }
    }
}