// VARIABLES 
$mainTypography: Poppins;
$subTypography: Montserrat;
$negrita: 700;
$regular: 400;
$textBlack: #343036;
$textHover: white;
$grisColor: #97959a;
$grisBackground: #fafafe;
$purpleColor: #beb9d3;
$purpleColorTwo: #5c22d1;
$purpleGradient: linear-gradient( #5b28d1, #4a61d6);
$orangeHov: #ff8d58;
$white: #ffffff;
$hov: #592AD0;
$color: #5C8DF6;
$colorRight: darken(#5C8DF6, 15%);
$colorLeft: darken(#5C8DF6, 5%);
$shadow: #DBE3F4;